/*////////////  INDEX ///////////////*/
html {
    position: relative;
    min-height: 100%;
}

body{
    padding-top:30px;
    background-color: #E6EDF0;
    /* Margen de abajo por la altura del footer. */
    margin-bottom: 60px;
}

.footerIndex {
    bottom: 0;
    left: 0;
    padding: 0 4em 6em 0;
    position: fixed;
    text-align: left;
    width: 40%;
}

.lateral{
    background-color: palegreen;
    background-attachment: scroll,								fixed;
    background-image: url("../img/green.jpg");
    background-position: top left,							top left;
    background-repeat: repeat,								no-repeat;
    background-size: auto,								auto 100%;
    /*    color: rgba(255, 255, 255, 0.5);*/
    height: 100%;
    left:1;
    padding: 4em 5em;
    position: fixed;
    text-align: center;
    top: 0;
    width: 40%;
}

#entrar{
    margin-top: 4em;
}

.idioma{ 
    position: absolute;
    top: 0;
    left: 0;
}

.social{
    width: 16.5em;   
}

.copyright{
    position: absolute;
    left: 0;
    margin-left: -3.5em;
    width: 20em;   
    list-style: none; 
}

a, a:hover, a:active, .smallText .button{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

/* CSS tamaño muy pequeño (Móviles)*/
@media (max-width: 768px){ 
    .posLateral{
        margin-left: -4em;
    }
    .titulosLaterales{        
        font-size: 130%;
    }
    .footerIndex{
        font-size: 60%;
        margin-top: 10em;
    }
    .contenido{
        margin-left: 0.7em;
        font-size: 110%;
    }
    .principal{
        margin-left: 5em;
        margin-right: 2em;
        margin-top: 1em;
    }
    #colBotonLogin{
        margin-top: 4em;
        margin-left: -3.5em;
    }
    .imgIdioma{
        height: 1.70em;
        width: 1.70em;
    }
    .imgSocial{
        height: 1.70em;
        width: 1.70em;
        margin: 0.8em;
    }
}

/* CSS tamaño pequeño (Tablets) */
@media (min-width: 768px) and (max-width: 1024px){ 
    .titulosLaterales{
        font-size: 160%;
    }
    .imgIdioma{
        height: 1.80em;
        width: 1.80em;
    }
    .imgSocial{
        height: 1.80em;
        width: 1.80em;
        margin: 0.8em;
    }
}

/* CSS tamaño mediano (Netbook & Tablet Horizontal)*/
@media (min-width: 1024px) and (max-width: 1280px){ 
    .titulosLaterales{
        font-size: 180%;
    }
    .imgIdioma{
        height: 1.85em;
        width: 1.85em;
    }
    .imgSocial{
        height: 1.85em;
        width: 1.85em;
        margin: 0.8em;
    }
    #infoContacto{
        margin-left: -10em; 
    }
    #divFormContacto{
        margin-left: 2em;
    }
    .fcontacto{
        margin-right: 1em;
    }
}

/* CSS tamaño pantallas medianas*/
@media (min-width: 1280px) and (max-width: 1400px){ 
    .imgIdioma{
        height: 1.90em;
        width: 1.90em;
    }
    .imgSocial{
        height: 1.90em;
        width: 1.90em;
        margin: 0.8em;
    }
    #infoContacto{
       margin-left: -14em; 
    }
    #divFormContacto{
        margin-left: 5em;
    }
    .fcontacto{
        margin-right: 1em;
    }
}

/* CSS tamaño pantallas grandes */
@media (min-width: 1400px){
    .imgIdioma{
        height: 2em;
        width: 2em;
    }
    .imgSocial{
        height: 2em;
        width: 2em;
        margin: 0.8em;
    }
    #infoContacto{
        margin-left: -16em;
    }
    #divFormContacto{
        margin-left: 7em;
    }
    .fcontacto{
        margin-right: 0.5em;
    }
}
/*//////////    GENERAL CSS INTO WEB     /////////*/
/*////////// NAVBAR SUPERIOR ///////////*/
.imgIdiomaNav{
    height: 1.60em;
    width: 1.60em;
}
/*////////// FIN NAVBAR SUPERIOR ///////////*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #006600 100%);
  background-image:      -o-linear-gradient(top, #f8f8f8 0%, #006600 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#006600));
  background-image:         linear-gradient(to bottom, #f8f8f8 0%, #006600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ff006600', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.contenidoPrincipal{
    margin-top: 6em;
}

.navDerecha{
    right: 1em;
}

/* CSS tamaño muy pequeño (Móviles)*/
@media (max-width: 768px){ 
    /* Conjunto de botones de edición */
    .botonesEdit{        
        margin-bottom: 0.5em;
    }
}

/* CSS tamaño pequeño (Tablets) */
@media (min-width: 768px) and (max-width: 1024px){ 
    /* Conjunto de botones de edición */
    .botonesEdit{        
        margin-bottom: 0.5em;
    }
}

/* CSS tamaño mediano (Netbook & Tablet Horizontal)*/
@media (min-width: 1024px) and (max-width: 1280px){ 
    /* Conjunto de botones de edición */
    .botonesEdit{        
        margin-bottom: 0.5em;
    }
}

/* CSS tamaño pantallas medianas*/
@media (min-width: 1280px) and (max-width: 1400px){ 
    /* Conjunto de botones de edición */
    .botonesEdit{        
        margin-bottom: 0.5em;
    }
}

/* CSS tamaño pantallas grandes */
@media (min-width: 1400px){
    /* Conjunto de botones de edición */
    .botonesEdit{
        margin-bottom: 0.5em;
    }
}