/*  Bootstrap */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #339933;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #006600;
  background-image: -webkit-linear-gradient(top, #006600 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #006600 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006600), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #006600 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006600', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #339933;
  background-image: -webkit-linear-gradient(top, #339933 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #339933 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#339933), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #339933 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff339933', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #339933;
  background-image: -webkit-linear-gradient(top, #339933 0%, #2e6da4 100%);
  background-image:      -o-linear-gradient(top, #339933 0%, #2e6da4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#339933), to(#2e6da4));
  background-image:         linear-gradient(to bottom, #339933 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff339933', endColorstr='#ff2e6da4', GradientType=0);
  background-repeat: repeat-x;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #006600 0%, #f8f8f8 100%);
  background-image:      -o-linear-gradient(top, #006600 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006600), to(#f8f8f8));
  background-image:         linear-gradient(to bottom, #006600 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006600', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav > li > a {
   color: darkblue; /*Change active text color here*/
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  color: darkblue;
  background-image: -webkit-linear-gradient(top, #339933 0%, #e2e2e2 0%);
  background-image:      -o-linear-gradient(top, #339933 0%, #e2e2e2 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#339933), to(#e2e2e2));
  background-image:         linear-gradient(to bottom, #339933 0%, #e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff339933', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.well{
  background-image: -webkit-linear-gradient(right, #006600 0%, #f8f8f8 100%);
  background-image:      -o-linear-gradient(right, #006600 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#006600), to(#f8f8f8));
  background-image:         linear-gradient(to top, #006600 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006600', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #339933;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #000;
  background-color: #339933;
}

.navbar-default .navbar-brand {
  color: darkblue;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: darkblue;
}

.navbar-default .navbar-toggle {
  border-color: darkblue;
}

.nav .nav-divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: darkblue;
}